// COLORS

$shadow: unquote('#00000094');
$shadow-light: unquote('#00000052');

// FONTS 

$font-xs-italic: italic 12px sans-serif;
$font-xs-bold: bold 12px sans-serif;
$font-s: normal 14px sans-serif;
$font-m: normal 16px sans-serif;
$font-m-bold: bold 16px sans-serif;
$font-l-bold: bold 18px sans-serif;

// BREAKPOINTS

$small: 320px;
$medium: 768px;
$large: 1024px;