.join-room-modal {
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
  outline: none;
  max-height: 75vh;

  @media (max-width: 500px) {
    width: 300px;
  }

  .join-room-area{
    display: flex;
    flex-direction: column;
    padding: 10px;

    .md-close{
      display: flex;
      flex-direction: column;
      align-items: last baseline;
      .close-modal {
        cursor: pointer;
      }
    }
    .md-header{
      display: flex;
      align-items: center;
      .header-left{
        flex: auto;
        text-align: right;
      }
      .header-right {
        flex: 1;
        width: 120px;
      }
    }
    .md-content{
      overflow-y: scroll;
      max-height: 58vh;
      .error{
        text-align: center;
      }
      .room-area{
        display: flex;
        font: $font-s;
        padding: 5px 0;
        border-top: 1px solid #ffffff80;
        cursor: pointer;
        flex-direction: row;
        align-items: center;

        .md-c-left{
          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
        .md-c-center{
          flex: auto;
          h4 {
            margin: 5px auto;
            font: $font-m;
            text-align: left;
            text-align: right;
            padding-right: 10px;
          }
          p {
            margin: 5px auto;
            font: $font-s;
            text-align: left;
          }
        }
        .md-c-right{
          text-align: center;
          width: 100px;
          padding-right: 15px;
          p {
            margin: 5px auto;
            font: $font-s;
            text-align: right;
            span {
              vertical-align: middle;
            }
          }
        }
        
      }
    }
    .md-content .room-area:last-child {
      border-bottom: 1px solid #ffffff80;
    }      

  }
}